// index =
// ============================== Template ========================== //
// SiteNav
// Carousel
// Service
// Department
// Doctor
// Footer
// ================ Admin dashboard ================= //
// ========================== Monitor ======================== //

$font-one: 'Londrina Outline', cursive;
$font-two: 'Merienda', cursive;
$font-three: 'Monoton', cursive;
$font-four:'Concert One', cursive;
$primary-color: #eae7dc;
$secondary-color: #e66767;
$third-color:#ea8685;
$fourth-color:#ffeaa7;
$fifth-color:#55efc4;
$sixth-color:#0097e6;
$seventh-color:#838383;

.App{
  font-family: $font-two;
}

.pointer {
  cursor: pointer;
}

// ============================== Template ========================== //
.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}
.ftco-section {
  padding: 7em 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }

.ftco-no-pt {
  padding-top: 0 !important; }

.ftco-no-pb {
  padding-bottom: 0 !important; }

.ftco-bg-dark {
  background: #3c312e; }

.ftco-counter {
  overflow-x: hidden;
  position: relative; 
}
@media (max-width: 1199.98px) {
  .ftco-counter {
    background-position: center center !important;
  }
}
.ftco-counter .block-18 {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.ftco-counter .text strong.number {
  font-weight: 800;
  font-size: 44px;
  color: #fff;
  display: block;
}
.ftco-counter .text span {
  display: block;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0;
}
.ftco-counter .counter-wrap {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (min-width: 992px) {
  .ftco-counter .counter-wrap:nth-child(even) {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
  .ftco-counter .counter-wrap:last-child {
    border-bottom: none;
  }
  .ftco-counter .counter-wrap:nth-child(3) {
    border-bottom: none;
  }
}
@media (max-width: 767.98px) {
  .ftco-counter .counter-wrap {
    margin-bottom: 20px;
  }
}

.ftco-intro {
  padding: 8em 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background: #207dff;
}
.ftco-intro .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: .2;
  background: #000000; 
}
@media (max-width: 991.98px) {
  .ftco-intro {
    background-position: center center !important; 
  } 
}
.ftco-intro h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 800; 
}
.ftco-intro h2 span {
  background: #207dff; 
}

// SiteNav
.ftco-navbar-light {
  background: rgba(255, 255, 255, 0.5) !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding-top: 10px;
  .container {
    width: 1110px;
    margin: 0 auto;
    padding: 0; 
  }
  .navbar-brand {
    color: #000000;
    padding-top: .7rem;
    padding-bottom: .7rem;
    font-weight: 900;
    font-size: 24px;
    span {
      font-weight: 900; 
    }
  }
  .navbar-brand:hover, .navbar-brand:focus {
    color: #4a94cf !important; 
  }
  .navbar-nav > .nav-item > .nav-link {
    font-size: 16px;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
    font-weight: 400;
    opacity: 1 !important; 
  }
  .navbar-nav > .nav-item > .nav-link span {
    position: relative;
    display: block;
    padding-bottom: 2px; 
  }
  .navbar-nav > .nav-item > .nav-link span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #207dff;
    visibility: visible;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; 
  }
  .navbar-nav > .nav-item > .nav-link:hover span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); 
  }
  .navbar-nav > .nav-item.cta > a {
    color: #fff;
    border: 1px solid #fe5f55;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 18px;
    padding-right: 18px;
    background: #fe5f55;
    margin-top: 0;
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; 
  }
  .navbar-nav > .nav-item.cta > a span {
    display: inline-block;
    color: #fff; 
  }
  .navbar-nav > .nav-item.cta > a:hover {
    background: #207dff;
    border: 1px solid #207dff; 
  }
  .navbar-nav > .nav-item.cta.cta-colored a {
    border: 1px solid #fe5f55;
    background: #fe5f55 !important; 
  }
  .navbar-nav > .nav-item .nav-link.active {
    background: transparent;
    background: none;
    color: #207dff; 
  }
  .navbar-nav > .nav-item .nav-link.active span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); 
  }
  .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; 
  }
  .navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none;
    color: #ffffff;
    outline: none !important; 
  }
}
@media (max-width: 991.98px) {
  .ftco-navbar-light {
    background: #000000 !important;
    position: relative;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px; 
  }
  .ftco-navbar-light .navbar-brand {
    color: #fff; 
  } 
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 20px;
    margin-right: 0; 
  }
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link span {
    display: inline-block;
  }
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top: 0;
    color: #fff; 
  } 
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #207dff; 
  }
}

// Carousel
.hero-wrap {
  width: 100%;
  height: 610px;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  .slider-text {
    height: 700px; 
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    background: #000000; 
  }
  .hero-wrap-2 {
    height: 600px;
    position: relative;
    background-position: top center;
    .overlay {
      width: 100%;
      opacity: 0;
      background: #fff;
    }
    .slider-text {
      height: 600px;
    }
  }
}
@media (max-width: 991.98px) {
  .hero-wrap {
    background-position: center center !important; 
  }
}

// Service
.ftco-services-2 {
  .services {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 0;
    margin-bottom: 30px;
    .icon {
      line-height: 1.3;
      position: relative;
      margin-bottom: 20px;
      width: 80px;
      height: 80px;
      z-index: 1;
      margin-bottom: 20px;
      background: #ffeeed;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
    }
    .icon span {
      font-size: 50px;
      color: #fe5f55;
    }
    .media-body h3 {
      font-size: 20px;
      font-weight: 500;
      font-family: "Poppins", Arial, sans-serif;
    }
  }
}

// Department
.department-wrap {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
@media (min-width: 768px) {
  .department-wrap {
    border-right: 1px solid rgba(0, 0, 0, 0.1); 
  } 
}
.department-wrap .text .icon span {
  color: #207dff;
  font-size: 40px; 
}
.department-wrap .text h3 {
  font-size: 24px; 
}
.department-wrap .text h3 a {
  color: #000000; 
}
.department-wrap:hover, .department-wrap:focus {
  background: #207dff; 
}
.department-wrap:hover .text, .department-wrap:focus .text {
  color: rgba(255, 255, 255, 0.7); 
}
.department-wrap:hover .text h3 a, .department-wrap:focus .text h3 a {
  color: #fff; 
}
.department-wrap:hover .icon span, .department-wrap:focus .icon span {
  color: #fff; 
}

// Doctor
.staff {
  overflow: hidden;
  margin-bottom: 30px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
.staff .img-wrap {
  height: 300px; 
}
.staff .img {
  width: 100%;
  display: block;
  background-position: top center;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative; 
}
.staff .img:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  content: '';
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
.staff .text {
  position: relative;
  background: #fff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
.staff .text h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
.staff .text .position {
  text-transform: uppercase;
  color: #b3b3b3;
  color: #207dff;
  display: block;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 600; 
}
.staff .text .faded {
  opacity: 1; 
}
.staff .ftco-social {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  padding: 15px 10px;
  background: #fff;
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
.staff .ftco-social li a {
  color: #fe5f55; 
}
.staff:hover .ftco-social, .staff:focus .ftco-social {
  opacity: 1;
  top: -40px; 
}
.staff:hover .img, .staff:focus .img {
  margin-top: -10px; 
}
.staff:hover .img:after, .staff:focus .img:after {
  opacity: .5; 
}
.staff:hover .text h3, .staff:focus .text h3 {
  color: #207dff; 
}

// Footer
.footer_part {
  img {
    margin-bottom: 35px;
  }
  .copyright_text {
    p {
      color: #888;
    }
    span {
      color: #fe5f55;
      font-size: 12px;
    }
  }
  .copygight_text{
    background-color: #0b111f;
    padding: 30px 0;
  }
}

// ================ Admin dashboard ================= //

.div-nav{
  p {
    font-size:10px;
    color: $seventh-color;
  }
  z-index:1;
  padding-top:20px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  margin-right:0;
  top:0;
  background-color: white;
  .nav-right{
    display: flex;
    p{
      margin-left:20px;
    }
  }
}

.div-information{
  margin-top: 70px;
  margin-bottom: 20px;
  table {
    border-width: 5px;
    border-color: $primary-color;
    background-color: $seventh-color;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }
  
  h1{
    color:$secondary-color;
    font-family: $font-four;
    text-align:center;
    margin-bottom: 5px;
    font-size: 40px;
  }
  td{
    font-size: 13px;
  }
  th{
    font-size:18px;
    font-family: $font-four;
    color: #eae7dc;
  }
  .div-date{
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: $font-two;
    text-align: center;
    width:500px;
    border-radius: 20px;
  }
}


.div-login{
  padding:30px;
  border-radius: 20px;
  opacity:0.5;
  opacity: 0.9;
  font-family: $font-two;
  margin-top: 100px;
  justify-content: center;
  width:300px;
  height:370px;
  box-shadow: 10px 10px 8px #6e6d6d;
  background-color: #dee3e2;
  button{
    width: 100%;
  }
  .image-login{
    margin: auto;
    text-align: center;
  }
}

.div-hospital_profile{
  margin-top: 130px;
  font-family: $font-three;
  .div-profile_info{
    text-align:center;
    background-color:$fifth-color;
    height: 300px;
  }
  hr{
    background-color: $secondary-color;
  }
  .image-viruses{
    opacity: 0.5;
    outline:none;
  }
}



.div-card_dokter{
  margin-top:50px;
  .card-dokter{
   img{
     width:250px;
     height:250px;
     border-radius: 1000px;
   }
  }
}

.div-card_dokter2{
  margin-left: 400px;
  margin-top:50px;
  .card-dokter{
   img{
     width:250px;
     height:250px;
     border-radius: 1000px;
   }
  }
}

.div-monitor{
  margin-top:100px;
  h3{
    color: $secondary-color;
  }
  h1{
    font-weight: bolder;
    font-size:50px;
  }
  h2{
    font-weight: bolder;
    font-size:40px;
    color: $fourth-color;
  }
  p{
    font-size: 20px;
  }
  h5{
    font-size:25px;
    font-weight: bold;
  }
}

.div-controller{
  margin-top: 100px;
  text-align: center;
  z-index: -1;
  .div-antrian_card{
    z-index: -1;
    margin: auto;
    width:100%;
    justify-content: center;
    .card-poli{
      border-radius: 15px;
      position: relative;
      background-color:#dee3e2;
      margin-top:100px;
      margin:5px;
      width:350px;
      
      &:after{
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        right: 10px;
        left: auto;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: #777;
        -webkit-box-shadow: 0 15px 15px #777;
        -moz-box-shadow: 0 15px 15px #777;
        box-shadow: 0 15px 15px #777;
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
      }
      hr{
        background-color: $third-color;
        margin-top:30px;
      }
    }
  }
}

.button_controller{
  margin: 20px auto;
  font-size:15px;
  p{
    background-color:$secondary-color;
    padding:3px;
    margin-bottom:20px;
    color:white;
    width:80px;
    &:hover{
      opacity:0.7;
    }
  }
}

.div-time{
  justify-content: space-between;
  margin-top:15px;
  margin-top:0;
  background-color: white;
  p{
    font-size:25px;
    margin:10px;
  }
}
.div-date{
  background-color: $third-color;
  padding:5px 10px;
  color: #393e46;
  width:200px;
  text-align: center;
  margin:auto;
}

// ========================== Monitor ======================== //

// img{
//   // border-radius: 1000px;
//   height:190px;
//   width:190px;
//   margin:auto;
//   height: 12rem;
//   width: 12rem;
//   background-position: top;
//   background-size: cover;
//   border-radius: 100px;
//   aspect-ratio: 9/16
// }

// h2{
//   font-size:20px;
//   color:#8e8a8d;
//   font-weight: bold;
//   text-align: center;

// }


.container-dashboard{
  margin-top:35px;
}

.container-monitor{
  margin-top:35px;
  display: flex;
  flex-direction: row;
  
  .div-left{
    .div-left_bottom{
      border-style:solid;
      border-color:$seventh-color;
      height: 210px;
      display: flex;
      flex-direction: column;
      h1{
        text-align: center;
        font-size:30px;
        opacity:0.9;
        font-family: $font-one;
        margin-top: 60px;
        margin-left:20px;
      }
      textarea{
        outline: none;
        font-size:20px;
        color: $seventh-color;
      }
    }
  }
}

.div-top{
  font-weight: bold;
  text-align: center;
}

.card-appointment{
  text-align: center;
  background-color: $primary-color;
  margin-bottom:20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;
  p{
    font-weight: bold;
    font-size: 20px;
  }
  .div-antrian_number{
    background-color: $fourth-color;
    height: 70px;
    margin-bottom: 10px;
    h1{
      font-size: 55px;
      font-weight: bold;
      text-align: center;
    }
  }
  .div-antrian_poli{
    height: 50px;
    background-color: $fourth-color;
    margin-bottom: 10px;
    p{
      font-weight: bold;
      text-align: center;
      font-size: 30px;
     
    }
  }
}

.card-antrian{
  margin-right:10px;
  width:530px;
  height:220px;
  text-align: center;
  background-color: $primary-color;
  margin-bottom:20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;
  p{
    font-weight: bold;
    font-size: 20px;
  }
  .div-right{
    margin-left: 70px;
   
  }
  .div-antrian_title{
    height: 50px;
    background-color: $fourth-color;
    margin-bottom: 10px;
    p{
      font-weight: bold;
      text-align: center;
      font-size: 30px;
      margin:auto;
    }
  }
  .div-antrian_number{
    background-color: $fourth-color;
    height: 70px;
    margin-bottom: 10px;
    h1{
      font-size: 55px;
      font-weight: bold;
      text-align: center;
    }
  }
  .div-antrian_poli{
    height: 50px;
    background-color: $fourth-color;
    margin-bottom: 10px;
    p{
      font-weight: bold;
      text-align: center;
      font-size: 30px;
     
    }
  }
}

.card-antrian2{
  margin-right:10px;
  width:530px;
  height:220px;
  text-align: center;
  background-color: $primary-color;
  margin-bottom:10px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;
  p{
    font-weight: bold;
    font-size: 20px;
  }
  .div-right{
    margin-left: 70px;
   
  }
  .div-antrian_title{
    height: 50px;
    background-color: $third-color;
    margin-bottom: 10px;
    p{
      font-weight: bold;
      text-align: center;
      font-size: 30px;
    }
  }
  .div-antrian_number{
    background-color: $secondary-color;
    height: 70px;
    margin-bottom: 10px;
    h1{
      font-size: 55px;
      font-weight: bold;
      text-align: center;
    }
  }
  .div-antrian_poli{
    height: 50px;
    background-color: $third-color;
    margin-bottom: 10px;
    p{
      font-weight: bold;
      text-align: center;
      font-size: 30px;
     
    }
  }
}

.hover-logout:hover{
  font-size:10px;
  color:$third-color;
}
.hover-logout{
  font-size:10px;
  color: $primary-color;
}
